.table-container {
    background-color: #111827cc !important;
    padding: 20px;
    border-radius: 8px;
    color: white;
}
.Recruiter-contactsbox .table-container {
    background-color: #111827cc !important;
}

.yellowtext {
    color: rgb(255 207 37 / var(--tw-bg-opacity, 1));
}


.table thead tr th,
.table tbody tr td {
    background-color: #111827cc !important;
    color: white;
    border: 1px solid #2e2e2e; /* optional: light border */
}
.table tbody tr:hover {
    background-color: #1f2937 !important;
}


.Recruiter-text{
 color: rgb(209 213 219 / var(--tw-text-opacity, 1));
 font-size: 18px;
}


